div.tour-list-package {
    display: flex;
    flex-direction: column;
    align-items: center;

    div.items-handler {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
